*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Times, serif;
    color: white;
    background-color: black;
}

.container{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0 2rem;
}

.header{
    padding: 2rem;
    margin: 1rem 0;
    text-align: center;
}

.header > .title{
    margin-bottom: 1rem;
}

.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0 auto;
    background-color: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}

.tribute blockquote{
    text-align: center;
    font-size: 3rem;
}

.tribute{ 
    max-width: 100%;
}

.bio{
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
}

.bio > h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
}

.bio > p{
    font-size: 1.2rem;
    line-height: 1.4;
}

hr{
    margin-top: 2.5rem;
}

b > p{
    text-align: center;
}

h2{
    text-align: center;
}

section > p{
    text-align: center;
}